@import url('http://fonts.cdnfonts.com/css/brokenbrush');

.metronome{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 70px;
	width: 500px;
	height: 500px;
}
.plusbpm
{
	position: absolute;
	top:28%;
	left: 63%;
	background-color: rgb(70,79,65);
	border: none;
	color:rgb(227,227,227);
	padding: 50px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 30px;
	margin: none;
	border-radius: 50%;
}
.minusbpm
{
	position: absolute;
	top:28%;
	left: 30%;
	background-color: rgb(70,79,65);
	border: none;
	color:rgb(227,227,227);
	padding: 50px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 30px;
	margin: none;
	border-radius: 50%;
}

.bpm {
	font-family: Brokenbrush, sans-serif;
	font-size: 70px;
	color: rgb(70,79,65);
	display: block;
	text-align: center;
	padding: 14px 16px;
}